<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Bank At Bowne</title>
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <script src="https://unpkg.com/phosphor-icons"></script>
</head>

<body>
  <h1>Bank At Bowne <span><iframe src="https://giphy.com/embed/pEJXQ2YjRNCd9YGQIl" width="70" height="60"
        frameBorder="0" class="giphy-embed" allowFullScreen></iframe></span></h1>

  <section class="topMid">
    <h2 class="checking">Checking Account</h2>
    <span class="user">
      <%=user.name %>
    </span>
  </section>
  <section class="transactions">
      <h3>Tansactions</h3>
    <ul class="messages">
      <% for(var i=0; i<transactions.length; i++) {%>
        <li class="message">
          <span class="size">
            <%=transactions[i].amount %>
          </span>
          <span class="size">
            <%=transactions[i].comment %>
          </span>
          <input type="text" name="" class="hide editComment" value="<%=transactions[i].comment %>">
          <span><i data-id="<%=transactions[i]._id %>" class="ph ph-pencil-simple-line"></i></span>
          <span class="hide"><i data-id="<%=transactions[i]._id %>" class="ph ph-floppy-disk"></i></span>
          <span><i data-id="<%=transactions[i]._id %>" class="ph ph-trash"></i></span>
        </li>
        <% } %>
    </ul>
  </section>

  <section class="bottom">
  <h2>BALANCE:</h2>
    <span class="balance">
      <%=balance%>
    </span>

    <form>
      <input id="inputAmount" type="text" placeholder="amount" name="amount">
      <input id="inputComment" type="text" placeholder="Comment" name="comment">
      <button><i id="deposit" class="ph ph-bank">Deposit</i></button>
      <button> <i id="withdrawl" class="ph ph-money">Withdrawal</i> </button>
    </form>
  </section>
  

    <script src="main.js"></script>

</body>

</html>